SD_PHOTO_FOLDER=/media/microscope
HOME_FOLDER=/home/microscope/MediaBackup
WORK_FOLDER=/Location/To/Work/Folder
SD_CARD_MATCH_STRING=/dev/sd[b-z]

# Camtrap-DP settings
CAMTRAP_BASE_URL="https://raw.githubusercontent.com/tdwg/camtrap-dp"
CAMTRAP_VERSION="1.0"
CAMTRAP_PROFILE="/camtrap-dp-profile.json"
CAMTRAP_MEDIA_SCHEMA="/media-table-schema.json"
CAMTRAP_DEPLOYMENTS_SCHEMA="/deployments-table-schema.json"
CAMTRAP_OBSERVATIONS_SCHEMA="/observations-table-schema.json"
CAMTRAP_OUTPUT_DIR="test_camtrap_output"

# Are you running sdUploader in Test-mode ("TEST") or Live/Production ("LIVE")?
MODE="TEST"

# This should point to the directory with the image files
INPUT_WORK_DIR="sample_camtrap_input/"

# Relative to the 'INPUT_WORK_DIR', this should point to the directory with the image files
INPUT_IMAGE_DIR="DCIM/100DSCIM"

# This should point to the TXT or JSON file containing overall info about the camera deployment (photographer, location, etc)
INPUT_SDUPLOADER_DATA_ENTRY="sample_camtrap_input/info.txt"


# # # # # For camtrapRepackager:
#
# #   Input Observation XLSX should point to the downloaded XLSX file for the finished/updated "observation" google sheet
INPUT_OBSERVATION_XLSX="test_upload/WorkFolder/2024-01-31_LearningPlatformBeaver/camtrap-dp-55a9f7ea-f07f-4e1c-84f5-32ef46604189/obs_2024-01-31_LearningPlatformBeaver.xlsx"
#
# #   Input Taxon Lookup CSV is copied from https://docs.google.com/spreadsheets/d/1Tw-vh4nEZOsJL79k29CL5eMCakefJYxUYPgYse6UEh4
INPUT_TAXON_LOOKUP="utils/taxon_lookup.csv"
#
# #   For google_drive.py -- the name of the Google Drive folder which contains/hosts image files for a given camtrap dataset. 
# #   Note - You may need to create a shortcut to this folder if you don't own it &/or it's in a shared drive
# #   RECOMMENDED - Switch to Folder ID instead of folder name.
GOOGLE_IMAGE_DIR="2024-01-31_LearningPlatformBeaver_DCIM_100DSCIM" 
